* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#dice-form {
    margin: auto;
}

.wrapper {
    background-image: url("./LuckyDiceImages/cover.jpg");
}

.package {
    background-color: beige;
}

.line-out {
    display: block;
    height: 50px;
}

button {
    margin: 10px 10px;
    border-radius: 20px;
}

input {
    margin: 10px 0px;
    border-radius: 40px;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    border-radius: 30px;
}